{:paths ["src/clj"] 
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}

        org.scicloj/noj {:mvn/version "2-beta14"} ; includes fastmath, Hanami, Clay

        ;; noj 2-beta13 uses Clay 2-beta36. Overrride that to get Clay 2-beta37,
        ;; which fixes bug that restricts plots to a fixed standard height.
        ;; Go back to simple Noj inclusion when Noj includes newer a Clay version.
        ;org.scicloj/noj {:mvn/version "2-beta13" :exclusions [org.scicloj/clay]}
        ;org.scicloj/clay {:mvn/version "2-beta37"}


        org.scicloj/metamorph.ml {:mvn/version "1.1.1"} ; for tablecloth examples

        org.clojure/data.json {:mvn/version "2.4.0"}
        metosin/jsonista {:mvn/version "0.3.7"} ; generate json from edn for debugging
       }

 :aliases {:nrepl-server {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}} ; see note above
                          :main-opts  ["-e" "(require '[scicloj.clay.v2.api :as clay])"
                                       "-m" "nrepl.cmdline"]}}
}

